html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

body {
    line-height: 2;
}

section,
.slide {
    padding-bottom: 12rem;
    padding-top: 12rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2.4rem;
    page-break-after: always;
    position: relative;
    word-wrap: break-word;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: #f7f9fb;
}

body {
    padding: 2em 2em 2em 17em;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}

.toc {
    position: fixed;
    left: 3em;
    top: 5em;
    padding: 1em;
    width: 14em;
    line-height: 2;
}

.toc ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.toc ul ul {
    padding-left: 2em;
}

.toc li a {
    display: inline-block;
    color: #aaa;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.toc li.visible>a {
    color: #111;
    transform: translate(5px);
}

.toc-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.toc-marker path {
    transition: all 0.3s ease;
}

.contents {
    padding: 1em;
    max-width: 800px;
    font-size: 1.2em;
    font-family: 'Frank Ruhl Libre', sans-serif;
}

.contents img {
    max-width: 100%;
}

.contents .code-block {
    white-space: pre;
    overflow: auto;
    max-width: 100%;
}

.contents .code-block code {
    display: block;
    background-color: #f9f9f9;
    padding: 10px;
}

.contents .code-inline {
    background-color: #f9f9f9;
    padding: 4px;
}

.contents h2,
.contents h3 {
    padding-top: 1em;
}

@media screen and (max-width: 1200px) {
    body {
        font-size: 14px;
    }
}

.longform {
    width: 72rem;
}

.wrap,
header nav,
footer nav {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    position: relative;
    width: 100%;
    z-index: 2;
}

section * {
    -webkit-animation: fadeIn .6s ease-in-out;
    animation: fadeIn .6s ease-in-out;
}

.longform {
    width: 72rem;
}

.longform .alignleft,
.longform .alignright {
    max-width: 40%;
}

.longform img.aligncenter,
.longform figure.aligncenter {
    margin-bottom: 3.2rem;
    margin-top: 3.2rem;
}

.longform ul,
.longform ol {
    margin-bottom: 3.2rem;
}

.longform ul ol,
.longform ol ul,
.longform ul ul,
.longform ol ol {
    margin-bottom: 0;
}

.longform figcaption p,
.longform [class*='text-pull-'] p {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.longform .text-pull.embed {
    margin-left: -2.4rem;
    margin-right: -2.4rem;
    padding-bottom: 60.6%;
}

@media (min-width: 1280px) {
    .longform [class*='text-pull-'] {
        max-width: 32%;
    }
    .longform .text-pull-right {
        margin-right: -256px;
    }
    .longform .text-pull-left {
        margin-left: -256px;
    }
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}